* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  position: fixed;
  background-color: #fff;
  width: 80%;
  border-bottom: 1px solid darkgray;
}
.container {
  width: 80%;
  margin-left: 10%;
}

.nav-bar ul {
  padding-left: 400px;
  padding-top: 25px;
  display: flex;
  list-style: none;
}

.nav-bar ul li a {
  text-decoration: none;
  margin-right: 50px;
  display: inline-block;
  width: 150px;
  height: 20px;
  border-radius: 50px;
  text-align: center;
  padding-top: auto auto;
  color: darkgray;
}

.nav-bar ul li a:hover {
  transition: 0.5s;
  background-color: darkgrey;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

main p {
  font-size: 24px;
  margin-top: 30px;
}

.text-content {
  margin-left: 90px;
}

.book-list {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  flex-wrap: wrap;
}

h4 {
  color: darkcyan;
}

article {
  margin-top: 50px;
}

.btn-div {
  text-align: center;
  padding-top: 60px;
}

.btn {
  width: 140px;
  height: 60px;
  background-color: darkgrey;
  font-weight: bold;
  color: antiquewhite;
  border-radius: 15px;
}

.footer {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid darkgray;
  padding-top: 40px;
}

.icons {
  margin-top: 20px;
  margin-right: 10px;
}
